.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

#particles-js{
  background-color: #f5f5f5;
}

.web {
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -1;
}