@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Montserrat', sans-serif, monospace;
  background-color: rgb(205, 143, 9);
  background-size: crgb(249, 185, 33)r;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}